body {
    background-color: $blue;
    @include desktop-mode {
        display: flex;
        flex-direction: column;
    }
}

.exp {
    display: flex;
    flex-direction: column;
    @include desktop-mode {
        order: 3;
        padding-bottom: 50px;
    }
    h2 {
        font-family: 'ArcadeClassic';
        font-weight: normal;
        font-style: normal;
        font-size: $text-mobile;
        text-align: center;
        color: $gold;
        padding: 15px 0;
        word-spacing: 5px;
        @include tablet-mode {
            font-size: $text-tablet;
        }
        @include desktop-mode {
            font-size: $text-desktop;
        }
    }
    .video {
        width: 350px;
        align-self: center;
        padding-bottom: 10px;
        @include tablet-mode {
            width: 450px;
        }
        @include desktop-mode {
            width: 550px;
        }
        iframe {
            height: 200px;
            width: 100%;
            @include tablet-mode {
                height: 300px;
            }
            @include desktop-mode {
                height: 400px;
            }
        }
    } 
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    @include desktop-mode {
        order: 2;
        padding: 30px 0;
    }
}

.score-board {
    display: flex;
    width: 200px;
    font-family: 'ArcadeClassic';
    font-weight: normal;
    font-style: normal;
    font-size: $text-mobile * 1.5;
    color: $white;
    border: 2px dotted #c1c730;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    @include tablet-mode {
        font-size: $text-tablet * 1.5;
        width: 250px;
    }
    @include desktop-mode {
        font-size: $text-desktop * 1.5;
        width: 300px;
        padding: 30px 0;
    }
    .badge {
        color: $white;
        background-color: $blue;
        border: 2px solid lightcoral;
        font-size: $text-mobile;
        padding: 2px 10px;
        @include tablet-mode {
            font-size: $text-tablet;
        }
        @include desktop-mode {
            font-size: $text-desktop;
        }
    }
    #user-label {
        position: absolute;
        top: 50;
        left: -35px;
        border-radius: 5px;
    }
    #computer-label {
        position: absolute;
        top: 50;
        right: -25px;
        border-radius: 5px;
    }
}

.result {
    padding: 30px 0;
    #outcome {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: $text-mobile - 3;
        color: $white;
        @include tablet-mode {
            font-size: $text-tablet - 3;
        }
        @include desktop-mode {
            font-size: $text-desktop - 3;
        }
    }
}

.game-choices {
    display: inline-grid;
    padding: 20px 0;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    height: 200px;
    width: 80%;
    @include tablet-mode {
        height: 300px;
    }
    @include desktop-mode {
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 100%;
        height: auto;
        padding: 20px 0;
    }
    .choices {
        margin: auto;
    }
}

#rock {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @include desktop-mode {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }
}
#paper {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    @include desktop-mode {
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }
}
#scissors {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    @include desktop-mode {
        grid-column: 3 / 4;
        grid-row: 1 / 1;
    }
}
#lizard {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    @include desktop-mode {
        grid-column: 4 / 5;
        grid-row: 1 / 1;
    }
}
#spock {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    @include desktop-mode {
        grid-column: 5 / 6;
        grid-row: 1 / 1;
    }
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: darken($blue, 2.5%);
    border-radius: 50%;
    padding: 15px;
    margin: 0;
    img {
        width: 45px;
        height: 45px;
        @include tablet-mode {
            width: 55px;
            height: 55px;
        }
        @include desktop-mode {
            width: 65px;
            height: 65px;
        }
    }
}

.user-win {
    border: 2px solid $green;
    border-radius: 50%;
}

.user-loss {
    border: 2px solid $red;
    border-radius: 50%;
}

.user-draw {
    border: 2px solid $light_gray;
    border-radius: 50%;
}