@font-face {
    font-family: 'ArcadeClassic';
    src: url('/fonts/ArcadeClassic.eot');
    src: url('/fonts/ArcadeClassic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArcadeClassic.woff2') format('woff2'),
        url('/fonts/ArcadeClassic.woff') format('woff'),
        url('/fonts/ArcadeClassic.ttf') format('truetype'),
        url('/fonts/ArcadeClassic.svg#ArcadeClassic') format('svg');
    font-weight: normal;
    font-style: normal;
}
