footer {
    background: darken(#204056, 10%);
    height: 100px;
    font-family: 'ArcadeClassic';
    font-weight: normal;
    font-style: normal;
    font-size: $text-mobile - 4;
    color: #D2D2D2;
    @include tablet-mode {
        height: 150px;
        font-size: $text-tablet - 4;
    }
    @include desktop-mode {
        order: 4;
        font-size: $text-desktop - 4;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        word-spacing: 5px;
        @include tablet-mode {
            padding: 20px;
        }
        a, a:visited {
            color: #D2D2D2;
        }
    }
    p {
        font-size: $text-mobile - 8;
        padding: 0 10px;
        @include tablet-mode {
            font-size: $text-tablet - 10;
        }
    }
}