header {
    background: linear-gradient(rgba( 0, 0, 0,.5)), url(/images/mobile-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    p {
        color: white;
        text-align: center;
        font-size: $header-mobile;
        font-family: 'ArcadeClassic';
        font-weight: normal;
        font-style: normal;
        word-spacing: 30px;
    }
}