header {
    background: black;
    padding: 20px;
    p {
        color: white;
        text-align: center;
        font-size: 40px;
        font-family: 'ArcadeClassic';
        font-weight: normal;
        font-style: normal;
        word-spacing: 30px;
    }
}
